In [51]:
import pandas as pd
import numpy as np
import ast

In [13]:
movies = pd.read_csv("data/tmdb_5000_movies.csv")
credits = pd.read_csv("data/tmdb_5000_credits.csv")

In [161]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [163]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
df = movies.merge(credits,on='title')

In [19]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [23]:
#imp col
df=df[["movie_id","title","overview","genres","keywords","cast","crew"]]

In [25]:
df.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [ ]:
#cleaning data

In [29]:
#check for null val
df.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [31]:
df.dropna(inplace=True)

In [33]:
df.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [47]:
#fn for top 3 cast
def cast(obj):
    arr = []
    cnt = 0
    for i in ast.literal_eval(obj):
        if cnt!=3:
            arr.append(i["name"])
            cnt = cnt+1
        else:
            break
    return arr

In [ ]:
df['cast'] = df['cast'].apply(cast)

In [99]:
#fn for storing genres in list
def genres(obj):
    arr = []
    for i in ast.literal_eval(obj):
            arr.append(i["name"])
    return arr

In [79]:
df['genres'] = df['genres'].apply(genres)

In [89]:
#fn to get director in crew
def fetchDir(obj):
    arr =[]
    for i in ast.literal_eval(obj):
        if i["job"] == "Director":
            arr.append(i["name"])
            break
    return arr

In [93]:
df['crew'] = df['crew'].apply(fetchDir)

In [101]:
#cleaning keywords col
df['keywords'] = df['keywords'].apply(genres)

In [105]:
remove_spaces = lambda x: [i.replace(" ", "") for i in x]

In [107]:
df["cast"] = df["cast"].apply(remove_spaces)
df["crew"] = df["crew"].apply(remove_spaces)
df["keywords"] = df["keywords"].apply(remove_spaces)
df["genres"] = df["genres"].apply(remove_spaces)

In [109]:
df.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [ ]:
#convertinf overview col to list to add all col
df["overview"] = df["overview"].apply(lambda x:x.split())

In [153]:
#property col = tags
df["tags"] = df["overview"]+df["genres"]+df["keywords"]+df["cast"]+df["crew"]

In [149]:
df2 = df[["movie_id", "title", "tags"]]
#final dataframe after cleaning

In [155]:
#joining the diff property
df2['tags'] = df2['tags'].apply(lambda x:" ".join(x))

/var/folders/qj/qb2j4s_n7njb147rvzmg3x3c0000gn/T/ipykernel_21405/2405400399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tags'] = df2['tags'].apply(lambda x:" ".join(x))

In [157]:
#to lowercase
df2["tags"] = df2["tags"].apply(lambda x:x.lower())

/var/folders/qj/qb2j4s_n7njb147rvzmg3x3c0000gn/T/ipykernel_21405/1907013976.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["tags"] = df2["tags"].apply(lambda x:x.lower())

In [159]:
df2.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [165]:
#Poreter Stemmer for handeling repeated words in tags(ie running or runs become run)
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [169]:
#fn to stem the words (split -> stem -> append)
def stem_tags(text):
    arr = []
    for i in text.split():
        arr.append(ps.stem(i))
    return " ".join(arr)

In [171]:
df2["tags"] = df2["tags"].apply(stem_tags)

/var/folders/qj/qb2j4s_n7njb147rvzmg3x3c0000gn/T/ipykernel_21405/3908901990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["tags"] = df2["tags"].apply(stem_tags)

In [173]:
df2['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [175]:
#vectorization (Count Vectorization): Creating each movie as a Vector (token)
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words="english")

In [183]:
#fit_transform learn vocabulary and transform text(corpus) into a sparse matrix of token counts.
vector = cv.fit_transform(df2["tags"]).toarray()

In [189]:
feature_names = cv.get_feature_names_out()
feature_names[:10]

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16'],
      dtype=object)

In [191]:
#calculate sosine Angle between vector
from sklearn.metrics.pairwise import cosine_similarity
similar = cosine_similarity(vector)

In [237]:
def recommend(movie):
    # Find idx of movie in dataframe
    movie_index = df2[df2["title"] == movie].index[0]
    
    # Retrieve the cosine similarity scores for the movie
    distances = similar[movie_index]
    
    # Enumerate the distances, sort them by similarity score in descending order, and exclude the first one (the movie itself)
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:11]
    
    # Print the titles of the top 10 most similar movies
    for i in movie_list:
        print(df2.iloc[i[0]].title)

In [205]:
movie_list = sorted(list(enumerate(similar[1])), reverse=True, key=lambda x: x[1])[1:6]
movie_list

[(12, 0.4140043409440133),
 (199, 0.27500954910846337),
 (17, 0.2533201985524494),
 (216, 0.20579830217101058),
 (3570, 0.20579830217101058)]

In [239]:
recommend("Spider-Man 2")

Spider-Man 3
Spider-Man
The Amazing Spider-Man
Iron Man 2
Superman
Batman
All Is Lost
In the Name of the King: A Dungeon Siege Tale
Hancock
The Legend of Hercules